spring:
  application:
    name: canteen_api

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PWD}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  config:
    import:
    - optional:file:.env[.properties]
server:
  port: 8080

FRONT_END_URL: ${FRONT_END_URL}

CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
CLOUDINARY_SECRET_KEY: ${CLOUDINARY_SECRET_KEY}

razorpay:
  key:
    id: ${razorpayId}
    secret: ${razorpaySecret}
